<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebServicesExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>PruebaServlet</servlet-name>
  	<servlet-class>co.edu.udea.iw.pages.PruebaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PruebaServlet</servlet-name>
  	<!-- Se aconseja que el nombre del servlet sea diferente a la clase que la controla -->
  	<url-pattern>/PruebaServlet</url-pattern>
  </servlet-mapping>
</web-app>